<!-- selected loo + reviews -->
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
    integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Selected Loo</title>
</head>

  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="../assets/images/classy-toilet-bowl.jpg">
          <span class="card-title">{{loo.facility_name}}</span>
        </div>
        <div class="card-content">
          <p>{{loo.address}}</p>
          <p>{{loo.city}}</p>
          <p>{{loo.state}} {{loo.zip}}</p></br>
          <p>Average Rating:
            <i class="fas fa-poo-storm fa-lg"></i>
            <i class="fas fa-poo-storm fa-lg"></i>
            <i class="fas fa-poo-storm fa-lg"></i>
            <i class="fas fa-poo-storm fa-lg"></i>
            </p>
        </div>
        <!-- Add a review button to render form -->
        <div class="card-action">
          <button id="review-btn">
            <a href="#review-loo" class="modal-trigger" class="btn waves-effect waves-light">Review this Loo
              <i id="size-icon" class="material-icons right">send</i>
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
<!-- Review form -->
<div id="review-loo" class="modal">
      <div class="modal-content">
        <h2>Add a review</h2>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="title" type="text" class="validate">
                <label for="title">Review Title</label>
              </div>
              <div class="input-field col s12">
                <textarea id="review" class="materialize-textarea"></textarea>
                <label for="review">Write your review</label>
              </div>
              <div class="input-field col s12">
                <select id ="rating" >
                  <option value="" disabled selected></option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <label>Rating</label>
              </div>
            </div>
             <button id="submit-review" class="btn" type="submit">Submit</button>
          </form>
        </div>

      </div>
    </div>
<!-- render associated reviews: include username and date created -->
  <div class="row" id="reviews">
    <div class="col s12 m7" id="rev-title-wrapper">
      <h2 id="rev-title-text">REVIEWS</h2>
    </div>
    {{#each loo.reviews as |value| }}
    <div class="col s12 m7">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title" id="size-title">{{this.title}}</span>
          <hr>
          <span class="card-title" id="size-subtitle">Rating: {{value.rating}}</span>

          <p>{{value.review}}</p>
        </div>
        <div class="card-action">
          <p>{{format_date this.createdAt}}</p>
          <p>{{this.user_id.username}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
{{!-- script for location and associated loos --}}
<script src="../assets/js/index.js"></script>
{{!-- script for adding a review --}}
<script src="../assets/js/review.js"></script>
{{!-- script for logout -> when logged in --}}
{{#if logged_in}}
<script src="../assets/js/logout.js"></script>
{{/if}}
