<!-- selected loo + reviews -->
<head>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Selected Loo</title>
</head>
<!-- TODO: render selected loo at the top: include average rating for selected loo
                and maybe a photo -->

<div id="hero-wrapper">
    <div id="selected-loo-hero" style="height: 300px;"></div>
    <div id="selected-loo-desc">
        <p>{{loo.facility_name}}</p>
        <p>{{loo.address}}</p>
        <p>Average Rating: {{loo.rating}}</p>
        
    </div>
</div>
<!-- Add a review button - render form -->
<button><a href="#review-loo" class="modal-trigger">Review this Loo</a></button>

<!-- render associated reviews: include username and date created -->
<div id="reviews">
    <h2>REVIEWS</h2>
    {{#each loo.reviews as |value| }}
    <h3>{{this.title}}, {{value.rating}}</h3>
    <p>{{value.review}}</p>
    {{/each}}
</div>
{{!-- script for location and associated loos --}}
<script src="../assets/js/index.js"></script>
{{!-- script for adding a review --}}
<script src="../assets/js/review.js"></script>
{{#if logged_in}}
{{!-- script for logout -> when logged in --}}
<script src="../assets/js/logout.js"></script>
{{/if}}